html {
	height: 100%;
	margin: auto;
	display: block;
	color: #222323;
	background-color: #f0f6f0;
	font-size: 14px;
	line-height: 5px;
}
body {
	text-align: left;
	vertical-align: middle;
	font-family: sans-serif;
}

img {
	position: fixed;
	right: 1vw;
	bottom: 1vh;
}
img.data {
	display: none;
}
